<div class="container">
    <div class="row">
        <div class="twelve columns" style="margin-top:25px">
            <div style="display:flex;flex-direction:row;justify-content:space-around;flex-wrap:wrap">
                <h5 style="border:solid gray 1px;padding:5px">Arm Workout Group</h5>
                <h5 style="border:solid gray 1px;padding:5px">Leg Workout Group</h5>
                <h5 style="border:solid gray 1px;padding:5px">Cardio Workout</h5>
                <h5 style="border:solid gray 1px;padding:5px">Get Big Arms Workout</h5>
                <h5 style="border:solid gray 1px;padding:5px">One Punch Man Workout</h5>
                <h5 style="border:solid gray 1px;padding:5px">Mixed Cardio Day</h5>
            </div>
        </div>
    </div>
    <i style="display:block;text-align:center;margin-top:25px" class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
</div>

