<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GymBuddy", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "profile", '#' %></li>
        <li><%= link_to "logout", '#' %></li>
      </ul>
    </nav>
  </div>
</header>